<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xmlns:contex="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">


    <contex:component-scan base-package="com.yhr.controller" use-default-filters="false">
        <contex:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></contex:include-filter>
    </contex:component-scan>
    <mvc:annotation-driven></mvc:annotation-driven>
    <!--配置项目名-->
    <dubbo:application name="dubbo_controller" />
    <!--配置注册中心-->
    <dubbo:registry address="zookeeper://192.168.75.131:2181"/>
    <!--扫描dubbo包-->
    <dubbo:annotation package="com.yhr.controller"/>
</beans>
